.layout-max-width {
    width: 100%;
    max-width: 1200px;
}

.center {
    margin: 0 auto;
}

p, pre {
    font-weight: normal;
}

footer {
    background-color: rgb(238, 238, 238);
}

mat-toolbar {
    background: inherit;
}